_site/lectures/Week 02 - Processing files using functions, classes, and libraries/scores.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="score" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="date"/>
              <xs:element type="xs:string" name="home-team"/>
              <xs:element type="xs:int" name="home-score"/>
              <xs:element type="xs:string" name="away-team"/>
              <xs:element type="xs:int" name="away-score"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>